/*
lOADER
*//* Animation */
@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
	to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
	to { transform: rotate(360deg); }
}

/* Loader (*/
h1{
	width: 100%;
	display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		color:#fff;
		margin: 10px;

}
p,a{
	font-size: .9em;
	text-decoration: none;

}

#registrar:active{
	text-decoration: underline black;
}

#loading {

	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: transparent;
	
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #838383;
	border-left: 4px solid #838383;
	
	-webkit-animation: loading 1.2s infinite linear;
	-moz-animation: loading 1.2s infinite linear;
	-ms-animation: loading 1.2s infinite linear;
	animation: loading 1.2s infinite linear;
	
}

/*
lOADER
*/


	*{
		margin:0;
		padding: 0;
		font-family: 'segoe UI';
	}
	body,html{
		height: 100%;
		width: 100%;
		overflow:hidden;
		background-color: #FFC83F;
	}
	#inicio{
		position: fixed;
		left: 100%;
		height: 100%;
		width: 100%;
		
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: .5s all;
		z-index: 10;
		overflow: scroll;
	}

	#registro{
		position: fixed;
		left: 100%;
		height: 500px;
		
		width: 100%;
		
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: .5s all;
	}
	.cargar{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	
	}
	.container{
		width: 100%;
		height: 100%;
		position: fixed; 
		left: 0px;
		
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: .5s all;

	}
	.login{
		width: 60%;
		height: 30%;
		background:url(../imagen/logo.png);
		
		background-size: cover;
		background-position:  center;
		background-repeat: no-repeat;
		
	}
	.formulario{
		height: auto;
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 10px;
		

	}
	.inputForm{
		width: 100%;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
    border-bottom: 2px solid #ececec;
    font-size: 1em;
    transition: .5s all;

	}
	.inputForm:focus{
		border-bottom: 2px solid #FAEE3A;

	}
	.button{
		height: 40px;
		width: 80%;
		color: #fff;
		border-radius: 50px;
		border:none;
		outline: none;
		margin-top: 5px;
		margin-bottom: 10px;
		background-color:#E93C3C;
		transition: .1s ease-in;
	}
	.button:active{
	background-color:#EB5959;	

	}